@import "../../vars.module";

.review_links_modal{
  background-color: #fff;

  .review_links__list{
    display: flex; flex-direction: column; gap: 16px;

    .review_links__link{
      display: flex; gap: 8px;
      align-items: center;
      border-radius: 8px;
      overflow: hidden;

      @include hover{
        color: $accent-var;
      }
    }
  }
}