@import "../../vars.module";

.header {
  display: flex;
  justify-content: space-between;

  .nav {
    display: flex;
    gap: 8px;
  }

  @include small-media {
    flex-direction: column;
    align-items: center;

    .nav {
      display: none;
    }
  }
}
