.modal {
  position: fixed;
  background-color: #0003;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 110;

  .modal__background_btn {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: default;
  }

  .modal__content {
    border-radius: 8px;
    position: relative;
    z-index: 30;
    background-color: #fff;
    padding: 16px 32px 32px;
    @media (max-width: 550px) {
      padding: 8px 16px 16px;
    }
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
  }
}
