.modal_close_btn {
  align-self: flex-end;
  padding: 6px;
  height: 26px;
  width: 26px;
  margin-bottom: -18px;
  margin-right: -12px;
  z-index: 120;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
